
#banner {
  background-image: linear-gradient(to right, #ed765e, #e3bde5);
  color: #fff;
  height: 768px;
}

#banner .col-md-6 {
  position: absolute;
  top: 20px;
  left: 200px;
  bottom: auto;
  width: 300px;
  height: auto;

}

#banner a {
  color: #fff;
  text-decoration: none;
}

.banner-img {
  margin-top: -10%;
  margin-left: 500px;
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}


.btn-book {
  padding: 0.5vw 3vw;
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-radius: 30px;
  background-color: #e26349;
  box-shadow: 2px 3px 15px #646464;
}

.btn-book:hover {
  background-color: #e75b3f;
  color: white;
  border: 5px;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
}

.promo-title {
  font-size: 92px;
  letter-spacing: 5px;
}

.promo-description {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.hero {
  height: 100%;
  width: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box {
  height: 480px;
  width: 380px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
}

#bg-modal {
  text-align: center;
}

.modal-dialog {
  width: 700px;
}

.modal-content {
  padding: 20px;
  text-align: center;
  background-color: white;
}

input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

p {
  text-transform: none;
}

.brand {
  width: 150px;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 240 0px;
  left: -200px;
  z-index: 0;
  padding: 0;
}

footer {
  background-color: #e26349;
}



html {
  scroll-behavior: smooth;
}


input[type=text].form-control.valid+label:after,
input[type=text].form-control:focus.valid+label:after,
input[type=text].form-control.invalid+label:after,
input[type=text].form-control:focus.invalid+label:after,
input[type=password].form-control.valid+label:after,
input[type=password].form-control:focus.valid+label:after,
input[type=password].form-control.invalid+label:after,
input[type=password].form-control:focus.invalid+label:after {
  top: 3.75rem !important;
}

span.field-icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0.5rem;
  top: 0.7rem;
  color: input-label-color;
  z-index: 2;
}