@import "/navbar-dropdowns.css";
@import "/sidebar-default.css";

/*------------------------------------------------------------------
# [Color codes]



/*------------------------------------------------------------------
[Typography]

Body:           1em / "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
Headers:        2em / "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
parapgraph:     1em / "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;

Notes:  decreasing heading by 0.4em with every subsequent heading level
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body / #body
2. Header / #header
3. Navigation / #navbar
4. Content / #content
5. Sidebar / #sidebar
6. Boxes / .box
7. Dashboard cards / .card
8. Miscellaneous
9. Adjustments to dafault behaviors
10. Colors / .teal, .olive, .violet, .orange, .darkgray, .blue, .grey
11. Responsive properties
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Body / #body]
*/
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("../font/Lato-Regular.eot");
    src: url("../font/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Regular.woff") format("woff"), url("../font/Lato-Regular.ttf") format("truetype");
}

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
a,
td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #444;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow-x: hidden
}

#body {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}

/*------------------------------------------------------------------
[2. Header / #header]
*/
#body>.navbar {
    padding: 0 1.5rem;
    min-height: 54px;
}

/*------------------------------------------------------------------
[3. Navigation / #navbar] - see /components/navbar/navbar-dropdown.css
*/
.default-light-menu {
    border: none !important;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset !important;
    color: #fff;
}

.default-light-menu:hover {
    background: rgb(206, 86, 86) !important;
    color: #fff;
}

/*------------------------------------------------------------------
[4. Content / #content]
*/
#body>.content {
    position: relative;
    padding: .5rem;
}

#body .content .page-title h3 {
    margin: 1rem 0;
}

/*------------------------------------------------------------------
[5. Sidebar / #sidebar] - see /components/sidebar/sidebar-default.css
*/

/*------------------------------------------------------------------
[6. Boxes / .box]
*/
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px 20px;
    background-color: #FAFAFA;
    text-align: right;
}

.box-primary {
    border-top-color: #cc6d6d;
}

/*------------------------------------------------------------------
[7. Dashboard Cards / .card]
*/
.card {
    margin-bottom: 15px;
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .content .icon-big {
    font-size: 3em;
    min-height: 64px;
    line-height: 64px;
}

.card .content .number {
    font-size: 1.5em;
    text-align: right;
    font-weight: bolder;
}

.card .content .footer {
    background-attachment: fixed;
    position: relative;
    padding: 0;
    line-height: 30px;
}

.card .content .stats {
    display: inline-block;
    color: #a9a9a9;
}

/*------------------------------------------------------------------
[8. Miscellaneous ]
*/
.line {
    border-bottom: 1px solid #E0E0E0;
}

.nav-pills {
    padding: 15px;
    background-color: #E0E0E0;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.btn-rounded {
    border-radius: 10em;
    padding: 6px 8px;
    font-size: small;
    text-transform: none;
    text-shadow: none !important;
    background: #eaeaea;
    border-color: transparent;
    border: none;
}

.btn-rounded:hover {
    border-color: transparent;
    border: none;
}

#myTab {
    margin-bottom: 15px;
}

.no-margin {
    margin: 0;
}

.dfd {
    width: 100%;
}

.bg-lighter-grey {
    background: #FAFAFA;
}

/*------------------------------------------------------------------
[9. Adjustments to default behaviors]
*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn.btn-square {
    border-radius: 0;
}

.table td,
.table th {
    vertical-align: middle;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    font-size: .8rem;
    bottom: .9rem;
}

.dataTables_info {
    visibility: hidden;
}

table.dataTable>tbody>tr.child ul.dtr-details {
    display: block;
}

.nav-tabs {
    border-bottom: 2px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -2px;
}

.nav-tabs .nav-link {
    border: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ca5d5d;
    background-color: #fff;
    border-bottom: 2px solid #ca5d5d;

}

.tab-content {
    padding: 15px;
}

.svg-inline--fa {
    min-width: 15px;
}

.display-absolute {
    position: absolute;
}

.large-icon {
    font-size: 3em;
}

.license span {
    margin-bottom: 1em;
}

/*------------------------------------------------------------------
[10. Colors / .teal, .olive, .violet, .orange, .darkgray, .blue, .grey]
*/
.teal {
    color: #00b5ad !important;
}

.olive {
    color: #b5cc18 !important;
}

.violet {
    color: #6435c9 !important;
}

.orange {
    color: #f2711c !important;
}

.darkgray {
    color: darkgray !important;
}

.blue {
    color: #2185d0 !important;
}

.grey {
    color: #767676 !important;
}

/*------------------------------------------------------------------
* Bootstrap Simple Admin Template
* Email: heyalexluna@gmail.com
* Version: 1.1
* Author: Alexis Luna
* Copyright 2019 Alexis Luna
* Website: https://github.com/mralexisluna/bootstrap-simple-admin-template
-------------------------------------------------------------------*/
.navbar {
    background-image: linear-gradient(to right, #ed765e, #e3bde5);
}

.nav-dropdown .nav-link {
    color: #fff;
    line-height: 1.42857;
    padding: 1rem 0 1rem 1rem !important;
}

.nav-dropdown .nav-link:hover {
    color: #fff;
}

.nav-dropdown.show a {
    color: #fff;
}

.nav-dropdown .nav-link::after {
    display: none;
}

.nav-dropdown .nav-link-menu {
    position: absolute;
    border: none;
    min-width: 220px;
    padding: 0;
    line-height: 1.4;
    box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.2);
    margin-top: -5px;
}

.nav-dropdown .nav-link-menu::before {
    top: -4px;
    right: 25%;
    margin: 0 0 0 -.25em;
    display: block;
    position: absolute;
    pointer-events: none;
    content: '';
    visibility: visible;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: .5em;
    height: .5em;
    background: #ffffff;
    z-index: 2;
}

.nav-dropdown .nav-link-menu .nav-list {
    padding: 5px 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-dropdown .nav-link-menu .nav-list li {
    line-height: 1.2;
}

.nav-dropdown .nav-link-menu .nav-list li a {
    color: #888;
    font-size: 14px;
    padding: .8rem;
}

.nav-dropdown .dropdown-divider {
    margin: 3px 0;
}

/*------------------------------------------------------------------
* Bootstrap Simple Admin Template
* Email: heyalexluna@gmail.com
* Version: 1.1
* Author: Alexis Luna
* Copyright 2019 Alexis Luna
* Website: https://github.com/mralexisluna/bootstrap-simple-admin-template
-------------------------------------------------------------------*/
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ed765e;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: .6rem 1rem;
}

#sidebar ul.components {
    padding: 0 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: .8rem 1.5rem;
    font-size: 1rem;
    display: block;
    color: #ffffff;
}

#sidebar ul li a .svg-inline--fa {
    min-width: 20px;
    margin-right: 5px;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
    color: #fff;
    background: #ca5d5d;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: inherit;
}

#sidebar ul ul a {
    font-size: 1rem;
    background: #852525a2;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: none;
}

@media (max-width: 768px) {
    #sidebarCollapse span {
        display: none;
    }
}

/*------------------------------------------------------------------
[11. Responsive properties]
*/
@media (max-width: 768px) {
    .display-absolute {
        position: relative;
    }
}

@media (max-width: 680px) {
    #body.active .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .nav-dropdown .nav-link-menu {
        position: fixed !important;
        top: 52px !important;
        width: 100% !important;
        margin-top: 0;
    }

    .nav-dropdown .nav-link {
        padding: 10px;
    }

    .nav-dropdown .nav-link-menu::before {
        right: 50%;
    }

    #body .navbar-collapse {
        display: none !important;
    }

    #body .nav-dropdown .nav-item span {
        display: none !important;
    }

    .btn-header {
        display: none;
    }
}

@media (min-width: 200px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}